@import '~antd/dist/antd.css';

body {
  background: #e5e5e5;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1010px;
  margin: 0 auto;
  background: #fff;
  padding: 14px 25px;
}

.tabs {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cards {
  margin-top: 32px;
}

@media (max-width: 440px) {
  .container {
    padding: 14px 5px;
  }
}