.card {
  width: 450px;
  display: flex;
  box-shadow: 0 0 10px 0 rgba(0,0,0, 0.2);
}

.descr {
  padding: 12px 9px 0 20px;
  display: flex;
  flex-direction: column;
}

.title__wrap {
  display: flex;
  justify-content: space-between;
}

.poster {
  height: 279px;
  width: 183px;
}

.title {
  width: 202px;
  font-size: 20px;
  line-height: 28px;
  white-space: normal;
}

.rating {
  width: 30px;
  height: 30px;
  border: 2px solid #E9D100;
  border-radius: 100%;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  color: #827E7E;
  font-size: 12px;
  line-height: 22px;
  margin-top: 7px;
}

.genre {
  width: 48px;
  height: 20px;
  border: 1px solid #D9D9D9;
  background: #FAFAFA;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
  line-height: 15px;
  padding: 2px 3px;
  text-align: center;
  margin-top: 7px;
}

.card-descr {
  width: 240px;
  height: 85px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 22px;
  white-space: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.stars {
  font-size: 16px;
}